@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&family=Press+Start+2P&display=swap');
@import "screens/main.css";
@import "screens/not-main.css";
@import "components/nav-bar.css";


body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}

.press-font{
  font-family: 'Press Start 2P', cursive;
}

header{
  font-weight: 500;
}

.dark-page{
  background-color: black;
  color: white;
}
