


/* =====type animation & media query ===== */
@media (min-width:800px) {
  .main-banner{
    display: flex;
    align-items: center;
  }

  .main-banner__text{
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .main-banner__basic-text {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .main-banner__ani-text{
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .type-ani{
    width:auto;
  }
  
  .typing h2{
    height:35px;
  
  }
          
          .typing::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 5px;
            height: 80%;
            background: #ffffff;
            animation: cursorBlink 0.8s steps(3) infinite;
          }
  
          @keyframes cursorBlink {
            0%,
            75% {
              opacity: 1;
            }
  
            76%,
            100% {
              opacity: 0;
            }
          }
          
          .typing {
            position: relative;
            -webkit-box-reflect: below 1px linear-gradient(transparent, #3333);
          }
  
          .typing h2 {
            position: relative;
            color: #ffffff;
            letter-spacing: 5px;
            font-size: 3rem;
            overflow: hidden;
            margin-bottom: 0;
            animation: type 5s steps(15) infinite;
          }
  
          @keyframes type {
            0%,
            100% {
              width: 0px;
            }
  
            30%,
            60% {
              width: 550px;
            }
          }
  
          @media (max-width: 500px) {
            .typing h2 {
              font-size: 3rem;
              animation: type 5s steps(10) infinite;
            }
  
            @keyframes type {
              0%,
              100% {
                width: 0px;
              }
  
              30%,
              60% {
                width:550px;
              }
            }
          }

          
#main-dark-page .main-banner__text{
  left:430px;
  width:auto;
}


#main-dark-page .main-banner__logo {
  left:60px;
}


.typing h2{
  font-size:20px; 
  /* font-size:1.8vw; */
}
  
}
/* =====배너 모바일 반응형 ===== */
@media (min-width:300px) and (max-width:1000px){ 
  #main-dark-page .main-banner__logo{
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
  } 
  #main-dark-page .main-banner__text{
    top:80%;
    left:50%;
    transform: translate(-50%, -50%);
  }

  .main-banner__basic-text{
    display:none;
  }

  .main-banner__ani-text{
    font-size:18px;
  }

}


#main-page{
  background-color: white;
  color: #27503e;
}


/* light mode banner */
.main-page .main-banner{
  height:460px;
  background-color: #27503e;
}

.main-page .main-banner__logo img{
  width:260px;
  height:260px;
  margin:15px;
}

/* dark mode banner */

#main-dark-page .main-banner{
  position:relative;
}

#main-dark-page .main-banner__img{
  width:100%;
  height:100%;
  object-fit:cover;
  overflow:hidden;
}

#main-dark-page .main-banner__logo , #main-dark-page .main-banner__text{
  position:absolute;
}
  



/* #main-dark-page .main-banner__container{
  position:absolute;
  width:100%;
  display:flex;
  align-items: center;
} */









/*=======main-screen=======*/

.main{
  width:100%;
  height:auto;
}

.main-item{
  width:80%;
  margin: 50px 0px;
}

/*circle 이미지*/

.main-circle {
	  max-width: 700px;
    width: 250px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 40px;
}

@media (min-width: 500px) {
.main-circle {
        width: 450px;
        height: 200px;
      }
}

@media (min-width: 800px) {
.main-circle {
        width: 700px;
        height: 300px;
      }
}

/* 애니메이션 모바일 */



/*icons*/


.main-icons__icon{
  width:110px;
  height:110px;
  object-fit: cover;
  margin-bottom: 20px;
}


/* 이미지*/
.footstep-img, .roadmap-img{
  width:100%;
  height:100%;
}


/* contact 버튼 */

.contact-btn{
  width:150px;
  height:60px;
  position:fixed;
  bottom:30px;
  right:40px;
  z-index:5;
  border-radius:30px;
  background-color: #1c8b5b;
  border:none;
  box-shadow: 5px 5px 15px 0px #496d5cb2;
}

.contact-btn-dark{
  background-color: #204a28;
}

.contact-btn .contact-btn__icon{
  position:absolute;
  z-index: 6;
  right:17px;
  top:17px;
} 

.contact-btn .contact-btn__text-before{
  position:absolute;
  right:65px;
  top:20px;
  z-index: 6;
  visibility: visible;
  font-size:17px;
  font-weight: lighter;
  line-height: 18px;
  color:#ffffffd2;
}

.contact-btn .contact-btn__text-after{
  position:absolute;
  right:58px;
  top:13px;
  visibility: hidden;
  z-index: 6;
  font-size:13px;
  font-weight: lighter;
  line-height: 18px;
  color:#ffffffd2
}

.contact-btn:hover{
  width:220px;
  height:60px;
  border-radius: 30px;
}

.contact-btn:hover .contact-btn__text-after{
  visibility: visible;
}

.contact-btn:hover .contact-btn__text-before{
  visibility: hidden;
}



main p{
  line-height:30px;
}



/* message to join 버튼처럼 하려면
footer h3{
  초록배경 흰글씨
  width:200px;
  background-color: #27503e;
  color:white;
  그 외
  border: 3px solid #27503e;
  box-shadow: 3px 3px 0px #27503e;
  padding:15px;
  border-radius:15px;
} 
*/