.nav-bottom{
  background-color: #27503e;
}

/* dark 하단바 */
/* 이미지 넣기 */
.nav-bottom__dark{
  background-color: black;
  /* background-image: url("images/light-circle-text.png"); 
  background-size: auto; */
} 


.nav-bottom img{
  width: 55px;
  height:35px;
  object-fit: cover;
}

.navbar-brand{
  height:40px;
}

.navbar-brand img{
  width:45px;
  height:45px;
  padding:0;
  position:absolute;
  top:-2px;
}

.nav-top__container{
  position:relative;
}




/* -------main 페이지 nav 버튼 색상-------- */

/* 연한 색 */
.nav-item .nav-link{
  color:#497c66;
}
.nav-item .nav-link:hover{
  color: #27503e;
}

/* 진한 색 */
.nav-item .nav-link__dark{
  color:#27503e;
}
.nav-item .nav-link__dark:hover{
  color: #497c66;
}

/* dark 모드 navbar 색상*/
/* 하얀 색 */
.nav-item .nav-link__white{
  color:#ffffff;
}
.nav-item .nav-link__white:hover{
  color: #3f906e;
}

/* 초록색 */
.nav-item .nav-link__green{
  color: #3f906e;
}
.nav-item .nav-link__green:hover{
  color:#ffffff;
}



/* nav bar모바일 버튼 색상 조정*/
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(39,80,62)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(73, 124, 102)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:focus {
  box-shadow: none;
}

/* dark모드 모바일 버튼 색상 */
.dark-page .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dark-page .navbar-toggler .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(63,144,110)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* 메뉴바 테두리 */
/* .navbar-toggler.navbar-toggler {
  border-color: rgb(39,80,62);
} */
